<div id="about" class="fragment anchor {{transitionState}}">
		<h2 class="content">ABOUT</h2>
		<div class="row">
			<div class=" content2">
				<h5>Solutions Engineer / Industrial Engineer / Software Engineer
				</h5>
				<p>Andy studied Industrial Engineering and started his career in Silicon Valley as a Solutions Engineer. After seeing the capabilities of learning Software Development at Oracle and Zenefits, he began his journey putting in 3000+ hours mastering the art of designing beautiful and responsive webpages to help other companies. 
				</p>
				<p>Need a Solutions Engineer? Want to talk tech, the great outdoors, beer, food, or electronic music? Feel free to drop me a line through any of channels at the bottom of this page!</p>
			</div>
		</div>

		
		<div id="portrait">
			<img src="./img/mexico_parrot.jpg">
			<h5>"because pictures are better with parrots"</h5>
		</div>

		<div id="technologies">
			<h2 class="content">TECHNOLOGIES</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>FRONT-END</h3>
							<p>HTML5</p>
							<p>CSS3</p>
							<p>JavaScript</p>
							<p>AngularJS (1.x)</p>
							<p>React</p>
							<p>JQuery</p>
							<p>Bootstrap</p>
							
					</div>
					<div class="col-md-4">
						<h3>BACK-END</h3>
							<p>Node.js</p>
							<p>Python</p>
							<p>Ruby</p>
							<p>Express.js</p>
							<p>AWS/Heroku</p>
							<p>SQL</p>
							<p>MySQL</p>
							<p>Postgres</p>
	
					</div>
					<div class="col-md-4">
						<h3>MISC</h3>
							<p>RESTful</p>
							<p>Version Control (Git)</p>
							<p>Linux/MacOS</p>
							<p>Responsive Web Design (RWD)</p>
							<p>Model-View-Controller (MVC)</p>
							<p>Object-Oriented-Programming (OOP)</p>
							<p>NPM/Bower</p>
							<p>CMS (WordPress)</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3>SOFT SKILLS</h3>
							<p>Sandler Sales</p>
							<p>Demo2Win Solutions Selling</p>
							<p>Project Management</p>
							<p>Process Improvement</p>
					</div>
					<div class="col-md-4">
						<h3>CERTIFICATIONS/AWARDS</h3>
							<p>Taleo Business Edition</p>
							<p>Sandler Sales</p>
							<p>Demo2Win</p>
							<p>Betterworks OKR/CPM</p>
							<p>Oracle:Consultant of the Month 2013</p>
							<p>Coding Dojo: RoR Black Belt</p>
					</div>

					<div class="col-md-4">
						<h3>HOBBIES/INTERESTS</h3>
							<p>Outdoors/Travel</p>
							<p>Programming</p>
							<p>Reading</p>
							<p>Beer/Music Festivals</p>
					</div>
				</div>
		</div>

	<div id="timeline">
		<h2 class="content">TIMELINE</h2>
		<div class="content2">
			 <div class="event">
				<img src="img/cal_poly_logo.jpg">
				<h2>CAL POLY SLO</h2>
				<h4>2008 - 2013</h4>
			</div>
			<div class="content2 event_description">
				<p>Cal Poly San Luis Obispo is well-known for its excellent engineering program and its vast natural beauties surrounding the area. Andy graduated Cal Poly with a B.S. in Industrial Engineering while being involved in the Sales Engineering Club where he picked up fundamentals of business acumen and public speaking.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Oracle.jpg">
				<h2>ORACLE CORPORATION</h2>
				<h4>2013 - 2015</h4>
			</div>
			<div class="content2 event_description">
				<p>Because of his involvement in the Sales Engineering Club, Andy launched his career as a Solutions Engineer where he used problem solving skills to uncover potential client bottlenecks, prepare POCs with front-end development, and lead technical product demonstrations of HR SaaS solutions to a variety of HR Leaders and Executives. It was here that jumpstarted his journey to the incredible world of programming as he continued building mock websites for each of his customers' demos.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Zenefits.jpg">
				<h2>ZENEFITS</h2>
				<h4>2015 - 2016</h4>
			</div>
			<div class="content2 event_description">
				<p>After working for 2 years as a Solutions Engineer, Andy decided to try his hand at Operations and dive into the world of startups. He joined this Silicon Valley Unicorn to use his Industrial Engineering experience to help alleviate internal workflows while supporting a variety of teams to ensure customers had an excellent experience while using Zenefits as their new Insurance broker. He also continued building front-end applications to support the Operations Team in streamlining its internal processes.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Coding_Dojo.jpg">
				<h2>CODING DOJO SAN JOSE</h2>
				<h4>2016 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>Zenefits had begun to rebrand itself and was rebuilding itself from the ground up. Andy took this opportunity to dive deeper into the world of software development, a passion that had been growing ever since his first exposure at Oracle. He then decided to embark on a journey where students train 1000+ hours learning 3 full technology stacks including Python, Ruby on Rails, and the MEAN stack. Here, he learned to quickly adapt to a world of rapidly changing technologies. </p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/imajine.png">
				<h2>IMAJINE STUDIO</h2>
				<h4>2017 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>Andy's first Software Engineering gig was with Imajine Studio, a small digital marketing company based in the greater DC Area. Here, Andy helped the Imajine team gather customer requirements (Wire-frame creation and evaluation), design, test, and deploy live websites for small to medium business owners. Andy gained a strong grasp on Content Management Systems (CMS) via using Wordpress and a variety of plugins. </p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/UpGuard.jpg">
				<h2>UPGUARD</h2>
				<h4>2017 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>After doing contract work with Imajine Studio, Andy worked as a Global Support Engineer (GSE) at UpGuard, a company focused on providing Cyber Resilience to SMB and Enterprise IT organizations. Responsibilities included writing (Ruby) scripts to troubleshoot issues encountered by UpGuard's customer base while making process improvements within the organization. Through all this, he gained exposure to IT architecture, Virtual Machines, and the fundamentals of cyber security concerns.</p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/BW_Logo_Black.png">
				<h2>Betterworks</h2>
				<h4>2018 - PRESENT</h4>
			</div>
			<div class="content2 event_description">
				<p>After a large internal change at UpGuard, Andy returned to do Solutions Engineering work at betterworks, a growing company focused on OKRs (Objectives and Key Results) and CPM (Continuous Performance Management) methodologies. Betterworks strives to take the processes and methodologies made famous by John Doerr (Google + "Measure What Matters") and give growing startups and enterprises the same opportunity to scale and grow just like the other tech giants (ie Google & Intel) have. As a Solutions Engineer, Andy serves as a Subject Matter Expert on the betterworks platform while serving as a project manager/consultant to both internal and external stakeholders. The role requires a combination of both technical know-how as well as business acumen in order to effectively demonstrate the value proposition of the company's product. Andy continues to grow and develop both of these skill sets through his current role as an SE.</p>
			</div>
		</div>
	</div>
</div>
