<div id="about" class="fragment anchor {{transitionState}}">
		<h2 class="content">ABOUT</h2>
		<div class="row">
			<div class=" content2">
				<h5>Solutions Engineer / Software Developer / Industrial Engineer
				</h5>
				<p>I bring 8+ years experience in the Tech Sector and have proudly worn the hats of a <a href="https://en.wikipedia.org/wiki/Sales_engineering" target="_blank">Solutions Engineer</a> (my main jam and focus), Operations Analyst, Support Engineer, and of a Web Developer. My domain knowledge includes Human Capital Management (HCM), Digital Transformation / Strategy and basic DevOps / Cloud Computing. I studied Industrial Engineering at Cal Poly San Luis Obispo (SLO) and learned the fundamentals of full-stack software development at Coding Dojo San Jose (coding bootcamp). Throughout my career, I have focused on solving problems for both rising startups and large enterprise clients through a combination of collaboration and code.
				</p>
				<p>Seeking a seasoned Solutions Engineer? Feel free to drop me a line through any of channels at the bottom of this page.</p>
			</div>
		</div>

		
		<div id="portrait">
			<img src="./img/andy-min2.jpg" width=33%>
			
		</div>

		<div id="technologies">
			<h2 class="content">TECHNOLOGIES</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>FRONT-END</h3>
							<p>HTML5</p>
							<p>CSS3</p>
							<p>JavaScript</p>
							<p>AngularJS (1.x)</p>
							<p>React (minimal)</p>
							<p>Bootstrap</p>
							
					</div>
					<div class="col-md-4">
						<h3>BACK-END</h3>
							<p>Python</p>
							<p>Linux/Bash</p>
							<p>Node.js</p>
							<p>Express.js</p>
							<p>AWS/Heroku</p>
							<p>SQL</p>
							<p>MySQL</p>
							<p>Postgres</p>
	
					</div>
					<div class="col-md-4">
						<h3>MISC</h3>
							<p>RESTful</p>
							<p>Git Version Control</p>
							<p>Responsive Web Design (RWD)</p>
							<p>MVC Architecture</p>
							<p>Object Oriented Programming (OOP)</p>
							<p>NPM/Bower</p>
							<p>CMS (WordPress)</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3>SOFT SKILLS</h3>
							<p>Challenger Sales</p>
							<p>Sandler Sales</p>
							<p>Demo2Win Solutions Selling</p>
							<p>Project Management</p>
							<p>Process Improvement</p>
					</div>
					<div class="col-md-4">
						<h3>CERTIFICATIONS/AWARDS</h3>
							<p>Taleo Business Edition</p>
							<p>Sandler Sales</p>
							<p>Demo2Win</p>
							<p>Betterworks OKR/CFR</p>
							<p>Oracle: Consultant of the Month 2013</p>
					</div>

					<div class="col-md-4">
						<h3>DOMAIN KNOWLEDGE</h3>
							<p>Human Capital Management (HCM)</p>
							<p>Digital Transformation</p>
							<p>Strategy/Execution</p>
							<p>IT/DevOps/Cybersecurity</p>
							<p>CX</p>
					</div>
				</div>
		</div>

	<div id="timeline">
		<h2 class="content">TIMELINE</h2>
		<div class="content2">
			 <div class="event">
				<img src="img/cal_poly_logo.jpg">
				<h2>CAL POLY SLO</h2>
				<h4>2008 - 2013</h4>
			</div>
			<div class="content2 event_description">
				<p>I attended Cal Poly San Luis Obispo where I graduated with a B.S. in Industrial Engineering - the study of processes, optimization, and boosting efficiencies. I joined the Sales Engineering Club and worked in a student call center for ~2 years where I picked up the fundamentals of cold-calling, learned resilience, and developed my business acumen.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Oracle.jpg">
				<h2>ORACLE CORPORATION</h2>
				<h4>2013 - 2015</h4>
			</div>
			<div class="content2 event_description">
				<p>I began my career as a Solutions Engineer (SE) where I led discovery calls with Account Executives (AEs) and prospects, prepared Proof-of-Concept (POCs), and delivered tailored product demos of Oracle's HR SaaS solutions to Business Executives. This was a pivotal moment in my Sales career and I was fortunate enough to be a part of Oracle's first "Class-of" Sales Academy. I began to dabble in HTML/CSS and JavaScript in the evenings which I then applied to make custom POCs for prospects. This turned out to be highly effective and boosted the team's revenue. This was also the moment I started to appreciate the powers that came with coding and automation.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Zenefits.jpg">
				<h2>ZENEFITS</h2>
				<h4>2015 - 2016</h4>
			</div>
			<div class="content2 event_description">
				<p>After working for ~2 years as a Solutions Engineer, I wanted to try something new - this became my segue into Operations and my plunge into the world of Silicon Valley startups. Joining this Unicorn Startup (as it was at the time) was an opportunity to use my Industrial Engineering degree to improve internal workflows and wear different hats. I did this while supporting a variety of cross-functional teams to ensure customers had an excellent experience. I managed to streamline some of our internal processes by leveraging programming in some of my projects including designing a simple widget that cut onboarding times for new Ops hires by 50%.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Coding_Dojo.jpg">
				<h2>CODING DOJO SAN JOSE</h2>
				<h4>2016 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>Zenefits gave me a once-in-a-lifetime opportunity to experience firsthand what a hyper-growth environment feels like and I made many lasting connections through the many late nights spent in that office. However, I truly missed Sales Engineering...and my lack of a traditional CS background was a barrier to entry for many of the SE roles in Silicon Valley. I knew I had to learn these skills if I were to return to the SE world.</p>

				<p>The first few lines of code I had written back at Oracle helped my career substantially and served as a catalyst to go deeper. I took that passion and joined a coding bootcamp where students train 1000+ hours learning 3 full technology stacks including Python, Ruby on Rails, and Node (MEAN). The 'Dojo' was a rigorous experience with many late nights where we "learned to learn" and troubleshoot programming issues with minimal help. In the end, we learned to build full-fledged websites and web apps from scratch with both client-side and server-side technologies. </p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/imajine.png">
				<h2>IMAJINE STUDIO</h2>
				<h4>2017 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>The first Developer role I held was with Imajine Studio, a small digital marketing company based in the greater DC Area. I helped the Imajine team gather customer requirements (Wire-frame creation and evaluation), design, test, and deploy live websites for small local business owners. I gained some valuable lessons on requirements gathering, and got a lot of exposure to working with Content Management Systems (CMS/Wordpress).</p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/UpGuard.jpg">
				<h2>UPGUARD</h2>
				<h4>2017 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>I joined my 2nd startup as a Global Support Engineer at UpGuard, a company that provided a tangible Cyber Resilience platform to both SMB and Enterprise IT/DevOps teams. In this role, I worked closely with Engineering clients to troubleshoot root-cause issues via writing/testing API scripts, maintained a high NPS score, and made process improvements within the Customer Success team. Despite being a short stint, Upguard was an opportunity to learn about IT architecture, Virtual Machines, and the fundamentals of DevOps and Cyber Security concerns.</p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/BW_Icon_Blue.png">
				<h2>BETTERWORKS</h2>
				<h4>2018 - 2020</h4>
			</div>
			<div class="content2 event_description">
				<p>After 3 wild years, the bootcamp and the experiences at my previous companies paid off. I returned to the Solutions Engineering world at my 3rd startup - Betterworks. Betterworks enabled organizations to implement digital strategy, focused execution, and feedback through a combination of OKRs (Objectives and Key Results) and CFRs (Conversations, Feedback, and Recognition). By taking the processes and methodologies made famous by John Doerr at Google (<a href="https://www.whatmatters.com/" target="_blank">"Measure What Matters"</a>), we were able to provide growing startups and Enterprises the necessary tools needed to scale and grow like other tech giants (ie Google, Intel).</p>

				<p>As a Solutions Engineer, I served as a Subject Matter Expert on the Betterworks platform while serving as a consultant to both internal and external stakeholders. I helped AEs qualify prospect accounts via leading discovery sessions, building POCs, tailoring custom demos, and leveraging Challenger Sales to show the value proposition to different Leaders and Executives. I worked closely with both SMB and Fortune 500 accounts while building out processes for Demo Ops in order to regularly maintain the Sales Teams' Demo Instances. </p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/zendesk-cover-1.jpeg">
				<h2>ZENDESK</h2>
				<h4>2020 - PRESENT</h4>
			</div>
			<div class="content2 event_description">
				<p>I joined Zendesk as a Sr. Solutions Consultant where I delved into the world of Customer Experience software (CX) and learned about bots, deflection, and automation. I quickly became a SME on Zendesk Sunshine Conversations (aka "SunCo" and formerly known as Smooch.io). Here I was tasked with sketching custom architecture diagrams taking inputs from customers' unique tech stacks and building custom demos showcasing both end-user and agent journeys using SunCo's large REST API and SDK collection. On other days, I was tasked with strategizing deal opportunies with AEs while collaborating with members from the Zendesk team including CSMs, Account Managers, as well as Solutions Architects. I played a large part in establishing basic procedures and documentation processes in order to help onboard and scale the SunCo SC team.</p>
			</div>
		</div>
	</div>
</div>
