<div id="about" class="fragment anchor {{transitionState}}">
		<h2 class="content">ABOUT</h2>
		<div class="row">
			<div class=" content2">
				<h5>The tale of an Industrial Engineer turned Full-Stack Developer...
				</h5>
				<p>Hey there! I'm Andy, a Full Stack Engineer with a focus on Front-End Development. I've put in 1700+ hours mastering the art of designing beautiful and responsive webpages to bring online communities together. I previously worked at two tech giants in Silicon Valley as a Solutions Consultant and as a Product Analyst. It was through small side-projects in these past jobs where I gradually found my calling in Software Development.
				</p>
				<p>Do you need a Software Engineer? Want to talk technology, the great outdoors, beer, food, or electronic music? Feel free to drop me a line through any of channels at the bottom of this page!</p>
			</div>
		</div>

		
		<div id="portrait">
			<img src="./img/mexico_parrot.jpg">
			<h5>"because pictures are better with parrots"</h5>
		</div>

		<div id="technologies">
			<h2 class="content">TECHNOLOGIES</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>LANGUAGES</h3>
							<p>JavaScript</p>
							<p>Ruby</p>
							<p>SQL</p>
							
					</div>
					<div class="col-md-4">
						<h3>FRONT-END</h3>
							<p>AngularJS (1.x)</p>
							<p>JQuery</p>
							<p>Bootstrap</p>
							<p>HTML5</p>
							<p>CSS3</p>
							<p>AJAX</p>
					</div>
					<div class="col-md-4">
						<h3>BACK-END</h3>
							<p>Node.js</p>
							<p>Express.js</p>
							<p>Rails</p>
							<p>RESTful</p>
							<p>AWS/Heroku</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h3>DATABASES</h3>
							<p>MySQL</p>
							<p>SQLite</p>
							<p>Postgres</p>
							<p>MongoDB</p>
					</div>
					<div class="col-md-4">
						<h3>OTHER TECH</h3>
							<p>Version Control (Git)</p>
							<p>Linux/MacOS</p>
							<p>PowerShell</p>
							<p>RWD</p>
							<p>MVC/OOP/TDD</p>
							<p>NPM/Bower</p>
							<p>CMS (WordPress)</p>
					</div>

					<div class="col-md-4">
						<h3>MISC SKILLS</h3>
							<p>Project Management</p>
							<p>Process Improvement</p>
							<p>Sandler Sales</p>
							<p>Demo2Win Solutions Selling</p>
							<p>IT Operations</p>
					</div>
				</div>
		</div>

	<div id="timeline">
		<h2 class="content">TIMELINE</h2>
		<div class="content2">
			 <div class="event">
				<img src="img/cal_poly_logo.jpg">
				<h2>CAL POLY SLO</h2>
				<h4>2008 - 2013</h4>
			</div>
			<div class="content2 event_description">
				<p>Cal Poly San Luis Obispo is well-known for its excellent engineering program and its vast natural beauties surrounding the area. Andy graduated Cal Poly with a B.S. in Industrial Engineering while being involved in the Sales Engineering Club where he picked up fundamentals of business acumen and public speaking.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Oracle.jpg">
				<h2>ORACLE CORPORATION</h2>
				<h4>2013 - 2015</h4>
			</div>
			<div class="content2 event_description">
				<p>Thanks to his involvement in the Sales Engineering Club, Andy landed his first gig as a Solutions Engineer where he used problem solving skills to uncover potential client bottlenecks, prepare POCs with front-end development, and lead technical product demonstrations. It was here that jumpstarted his journey to the incredible world of coding as he continued building mock websites for each of his customers' demos.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Zenefits.jpg">
				<h2>ZENEFITS</h2>
				<h4>2015 - 2016</h4>
			</div>
			<div class="content2 event_description">
				<p>After working for nearly 2 years as a Solutions Engineer, Andy decided to give a shot at Operations and dive into the world of startups. He joined this Silicon Valley Unicorn to use his Industrial Engineering experience to help alleviate internal workflows while supporting a variety of teams to ensure customers had an excellent experience while using Zenefits as their new Insurance broker. He also continued building front-end applications to support the Operations Team in streamlining its internal processes.</p>
			</div>
		</div>
	
		<div class="content2">
			<div class="event">
				<img src="img/Coding_Dojo.jpg">
				<h2>CODING DOJO SAN JOSE</h2>
				<h4>2016 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>Zenefits had begun to rebrand itself and was rebuilding itself from the ground up. Andy took this opportunity to dive deeper into the world of software development, a passion that had been growing ever since his first exposure at Oracle. He then decided to embark on a journey where students train 1000+ hours learning 3 full technology stacks including Python, Ruby on Rails, and the MEAN stack. Here, he learned to quickly adapt to a world of rapidly changing technologies. </p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/imajine.png">
				<h2>IMAJINE STUDIO</h2>
				<h4>2017 - 2017</h4>
			</div>
			<div class="content2 event_description">
				<p>Andy's first Software Engineering gig was with Imajine Studio, a small digital marketing company based in the greater DC Area. Here, Andy helped the Imajine team to collect customer requirements (Wire-frame creation and evaluation), design, test, and deploy live websites for small to medium business owners. Andy gained a strong grasp on Content Management Systems (CMS) via using Wordpress and a variety of plugins while utilizing the LAMP stack. </p>
			</div>
		</div>

		<div class="content2">
			<div class="event">
				<img src="img/UpGuard.jpg">
				<h2>UPGUARD</h2>
				<h4>2017 - Present</h4>
			</div>
			<div class="content2 event_description">
				<p>After doing freelance work with Imajine Studio, Andy entered a growing field known as "Cyber Resilience" and began work as a Global Support Engineer at UpGuard. Here he utilized his programming skill sets to troubleshoot issues encountered by UpGuard's customer base while making process improvements within the organization.</p>
			</div>
		</div>
	</div>
</div>
