<h2 class="content">Herbal Fusion</h2>
<div class="content2">
	<h4>Team Members: 5</h4>
	<p>A RoR-based project where students designed and built a recipe-sharing platform for individuals with lifestyle and medicinal needs (Cannabis)</p>
	<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">Ruby on Rails, SQLite, HTML5, CSS3, Heroku</span></h5>

	<a href="#!/portfolio"><button class="project_button">Back to Portfolio</button></a>
	
	<a href="https://github.com/abalberchak/herbal_fusion-1" target="_blank"><button class="project_button"><i class="fa fa-github" aria-hidden="true"></i></button></a>

	<a href="http://herbal-fusion.herokuapp.com/" target="_blank"><button class="project_button"><i class="fa fa-external-link" aria-hidden="true"></i></button></a>

</div>