<h2 class="content">Herbal Fusion</h2>
<h4>Team Members: 5</h4>
<p>A RoR-based project where students designed and built a recipe-sharing platform for individuals with lifestyle and medicinal needs (Cannabis)</p>
<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">Ruby on Rails, SQLite, HTML5, CSS3, Heroku</span></h5>
	<a href="https://github.com/abalberchak/herbal_fusion-1" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i><h6>Go to Github</h6></button></a>
<a href="http://herbal-fusion.herokuapp.com/" target="_blank"><button><i class="fa fa-long-arrow-right" aria-hidden="true"></i><h6>Go to Site</h6></button></a>