<h2 class="content project_title">Loudoun Clear Marketing</h2>
<div class="content2">
	<h4>Team Members: 2</h4>
	<p>Loudoun Clear Marketing was a marketing agency located in Virginia which had requested a re-designed website. This was a Wordpress-based project that served as a great segue into the world of CMS and database transfers.</p>
	<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">Wordpress, Divi Theme, JQuery, JavaScript, HTML5, CSS3, Hostmonster, FTP</span></h5>

	<a href="/portfolio"><button class="project_button">Back to Portfolio</button></a>

	<a href="http://loudounclearmarketing.com/" target="_blank"><button class="project_button"><i class="fa fa-external-link" aria-hidden="true"></i></button></a>
</div>