<div data-hover-Directive id="portfolio" class="anchor">
	<h2 class="content">PORTFOLIO</h2>
	<h5 class="subsection">(Click each icon for more info)</h5>

	<div class="row center_text">
		<div class="col-sm-4">
		<a href="#!/zenefitsTool"><div class="project insurance_trainer"><div class="hidden_text cover"><h4>Zenefits Insurance Trainer</h4></div></div></a>
		</div>

		<!-- <div class="popup" data-popup="popup-1">
		    <div class="popup-inner">
		        <h2>Zenefits Insurance Training Tool</h2>
	        	<h4>Team Members: 1 (Solo)</h4>
		        <p>This simple project was designed to train new hires for the Zenefits Operations team. By clicking on the buttons throughout the form, users can unveal a tooltip explaining how to complete specific insurance forms. This project reduced new hire onboarding times by 50% from 4 weeks to 2 weeks.</p>
		        <h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">HTML5, CSS3, JQuery, JavaScript</span></h5>
		        <a href="https://github.com/abalberchak/insurance_trainer" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i><h6>Go to Github</h6></button></a>
		        
		        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
		    </div>
		</div> -->



		<div class="col-sm-4">
		<a href="#!/touchFace"><div class="project touchface"><div class="hidden_text cover"><h4>Touch Face</h4></div></div></a>
		</div>

		<!-- <div class="popup" data-popup="popup-2">
		    <div class="popup-inner">
		        <h2>Touch Face</h2>
		        <h4>Team Members: 4</h4>
		        <p>A Python-based project where students altered an Amazon Echo's software (Alexa) to respond to custom commands with custom responses</p>
		        <h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">Python, Flask-Ask, NGROK, AWS, Twilio API</span></h5>
		        <a href="https://github.com/abalberchak/TouchFace" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i><h6>Go to Github</h6></button></a>
		        
		        <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
		    </div>
		</div> -->

		<div class="col-sm-4">
		<a href="#!/herbalFusion"><div class="project herbalfusion"><div class="hidden_text cover"><h4>Herbal Fusion</h4></div></div></a>
		</div>

		<!-- <div class="popup" data-popup="popup-3">
		    <div class="popup-inner">
		        <h2>Herbal Fusion</h2>
		        <h4>Team Members: 5</h4>
		        <p>A RoR-based project where students designed and built a recipe-sharing platform for individuals with lifestyle and medicinal needs (Cannabis)</p>
		        <h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">Ruby on Rails, SQLite, HTML5, CSS3, Heroku</span></h5>
		       	<a href="https://github.com/abalberchak/herbal_fusion-1" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i><h6>Go to Github</h6></button></a>
		        <a href="http://herbal-fusion.herokuapp.com/" target="_blank"><button><i class="fa fa-long-arrow-right" aria-hidden="true"></i><h6>Go to Site</h6></button></a>

		        <a class="popup-close" data-popup-close="popup-3" href="#">x</a>
		    </div>
		</div> -->

	</div>

	<div class="row center_text">

		<div class="col-sm-4">
		<a href="#!/puzzlePic"><div class="project puzzlepic"><div class="hidden_text cover"><h4>Puzzle-Pic</h4></div></div></a>
		</div>

		<!-- <div class="popup" data-popup="popup-4">
		    <div class="popup-inner">
		        <h2>Puzzle-Pic</h2>
		       	<h4>Team Members: 3</h4>
		        <p>'Puzzle-Pic' was a MEAN-stack based puzzle game where users can upload a picture of their choice to solve in a randomized 5 x 5 grid</p>
		        <h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">JavaScript, Node.js, Express.js, Angular.js, JQuery, JQuery-UI, HTML5, CSS3, Multer, Heroku</span></h5>
		        <a href="https://github.com/abalberchak/PuzzlePic" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i><h6>Go to Github</h6></button></a>
		        
		        <a class="popup-close" data-popup-close="popup-4" href="#">x</a>
		    </div>
		</div> -->



	</div>
</div>