<div data-hover-Directive id="portfolio" class="anchor partial">
	
	<h2 class="content">PORTFOLIO</h2>
	<h5 class="subsection">(Click each icon for more info)</h5>

	<div class="row center_text">
		<div class="col-sm-4">
		<a href="/zenefitsTool"><div class="project insurance_trainer"><div class="hidden_text cover"><h4>Zenefits Insurance Trainer</h4></div></div></a>
		</div>

		<div class="col-sm-4">
		<a href="/touchFace"><div class="zoom project touchface"><div class="hidden_text cover"><h4>Touch Face</h4></div></div></a>
		</div>

		<div class="col-sm-4">
		<a href="/herbalFusion"><div class="project herbalfusion"><div class="hidden_text cover"><h4>Herbal Fusion</h4></div></div></a>
		</div>
	</div>

	<div class="row center_text">
		<div class="col-sm-4">
		<a href="/puzzlePic"><div class="project puzzlepic"><div class="hidden_text cover"><h4>Puzzle-Pic</h4></div></div></a>
		</div>

		<div class="col-sm-4">
		<a href="/loudounClearMarketing"><div class="project loudounClearMarketing"><div class="hidden_text cover"><h4>Loudoun Clear Marketing</h4></div></div></a>
		</div>

		<div class="col-sm-4">
		<a href="/reactWeatherApp"><div class="project reactWeatherApp"><div class="hidden_text cover"><h4>React Weather App</h4></div></div></a>
		</div>
	</div>

	<div class="row center_text">
		<div class="col-sm-4">
		<a href="/reactTimerApp"><div class="project reactTimerApp"><div class="hidden_text cover"><h4>React Timer App</h4></div></div></a>
		</div>
	</div>





</div>