<h2 class="content project_title">Puzzle-Pic</h2>
<div class="content2">
	<h4>Team Members: 3</h4>
	<p>'Puzzle-Pic' was a MEAN-stack based puzzle game where users can upload a picture of their choice to solve in a randomized 5 x 5 grid</p>
	<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">JavaScript, Node.js, Express.js, Angular.js, JQuery, JQuery-UI, HTML5, CSS3, Multer, Heroku</span></h5>

	<a href="/portfolio"><button class="project_button">Back to Portfolio</button></a>

	<a href="https://github.com/abalberchak/PuzzlePic" target="_blank"><button class="project_button"><i class="fa fa-github" aria-hidden="true"></i></button></a>
</div>