
<h2 class="content project_title">React Timer App</h2>
<div class="content2">
	<h4>Team Members: 1</h4>
	<p>A simple React App that mimics a basic stop watch</p>
	<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">React, Node, Express, Foundation, SCSS (SASS)</span></h5>

	<a href="/portfolio"><button class="project_button">Back to Portfolio</button></a>
	
	<a href="https://github.com/abalberchak/ReactTimer" target="_blank"><button class="project_button"><i class="fa fa-github" aria-hidden="true"></i></button></a>

	<a href="http://powerful-cliffs-12221.herokuapp.com/#/?_k=xu920j" target="_blank"><button class="project_button"><i class="fa fa-external-link" aria-hidden="true"></i></button></a>

</div>