<h2 class="content project_title">React Weather App</h2>
<div class="content2">
	<h4>Team Members: 1</h4>
	<p>A simple React App that lets users search for the weather in different cities using the Open Weather API</p>
	<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">React, Node, Express, Open Weather Map API, Foundation, SCSS</span></h5>

	<a href="/portfolio"><button class="project_button">Back to Portfolio</button></a>
	
	<a href="https://github.com/abalberchak/reactweather" target="_blank"><button class="project_button"><i class="fa fa-github" aria-hidden="true"></i></button></a>

	<a href="http://sleepy-lowlands-76380.herokuapp.com/#/?_k=p8majr" target="_blank"><button class="project_button"><i class="fa fa-external-link" aria-hidden="true"></i></button></a>

</div>