<div class="content2">
	<h2 class="content">Touch Face</h2>
	<h4>Team Members: 4</h4>
	<p>A Python-based project where students altered an Amazon Echo's software (Alexa) to respond to custom commands with custom responses</p>
	<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">Python, Flask-Ask, NGROK, AWS, Twilio API</span></h5>

	<a href="#!/portfolio"><button class="project_button">Back to Portfolio</button></a>

	<a href="https://github.com/abalberchak/TouchFace" target="_blank"><button class="project_button"><i class="fa fa-github" aria-hidden="true"></i></button></a>
</div>