<h2 class="content">Zenefits Insurance Trainer</h2>
<h4>Team Members: 1 (Solo)</h4>
<p>This simple project was designed to train new hires for the Zenefits Operations team. By clicking on the buttons throughout the form, users can unveal a tooltip explaining how to complete specific insurance forms. This project reduced new hire onboarding times by 50% from 4 weeks to 2 weeks.</p>
<h5>Technologies Used: <span style="font-style: italic; font-size: 12px;">HTML5, CSS3, JQuery, JavaScript</span></h5>
<a href="https://github.com/abalberchak/insurance_trainer" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i><h6>Go to Github</h6></button></a>